<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Radio "Night University" web crawler</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="py-5 text-center">
        <h4>Radio "Night University" web crawler</h4>
        <p>A small Spring Boot microservice runs as on demand web crawler in the Radio "Night University" web page at <a href="http://www.ylikool.ee" target="_blank">www.ylikool.ee</a> and saves data to in-memory database. JSoup and Thymeleaf were used for fetching data and creating a simple UI.</p>
        <p>
            <a href="/lectures">Lectures</a>
        </p>
    </div>
</body>
</html>